.open-case-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
}

.reel-wrapper {
    width: 640px;
    height: 200px;
    overflow: hidden;
    border: 3px solid #00bfff;
    background: #1b1b1b;
    position: relative;
}

.reel {
    display: flex;
    align-items: center;
    height: 100%;
    transform: translateX(0);
}

.reel-item {
    min-width: 160px;
    height: 160px;
    margin: 0 5px;
    background: #2b2b2b;
    border-radius: 8px;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    color: white;
}

.reel-item img {
    width: 120px;
    height: 120px;
    object-fit: contain;
}

.winner {
    font-size: 22px;
    color: #00ffcc;
    font-weight: bold;
}
